/* CSS file */
BarreMenu
{ 
	font-size:12;
}

BarreOutil
{
	font-size:12;
	disabled-color:red;
	
}

HboxBarreOutil
{
	border-style:inset;
	background-color:#C3C3C3;
	
}

Onglet
{
	
}

.hBoxCentrale
{
	horizontal-align:center;
	padding-left:10;
	padding-right:10;
	padding-bottom:100;
	padding-top:80;
}

.imageGlobale
{
	down-skin:Embed("Images/barre_outil/zoom_out_gris.png");
	focus-thickness:30;
	focus-skin:Embed("Images/barre_outil/zoom_out_gris.png");
}

TextArea
{
	 horizontalScrollPolicy:auto;
	 verticalScrollPolicy:auto;
}

.btnZoomMoins
{
	
	disabled-color:red;
	disabled-icon:Embed("Images/barre_outil/zoom_out_gris.png");
}

.cadre
{
	
	border-color:red;
	border-style:solid;
	skin:Embed("Images/barre_outil/zoom_out_gris.png");
}

.separateur
{
	stroke-width:2;
	stroke-color:#909090;
	horizontal-align:center;
}

FenetreDegrade
{
	borderColor: #99ff33;
}

.stylePanelDegrade
{
   borderColor: #99ff33;
   borderThicknessLeft: 3;
   borderThicknessTop: 0;
   borderThicknessBottom: 3;
   borderThicknessRight: 3;
   roundedBottomCorners: false;
   cornerRadius: 0;
   headerHeight: 12;
   backgroundAlpha: 1;
   highlightAlphas: 0, 0;
   headerColors: #e7e7e7, #d9d9d9;
   dropShadowEnabled: true;
}

.angle
{
	fontSize: 10;
	dataTipOffset: 5;
	 labelOffset: 0;
}

.pointDeFuite
{
	fontSize: 7;
	label-offset:1;
	tickColor:"black";
	tick-offset:2;
}

.hSliderAngle
{
	fontSize: 9;
	label-offset:1;
	tickColor:"black";
	tick-offset:2;
	data-tip-offset:0;
}


.PanelsOption
{
   borderThicknessLeft: 3;
   borderThicknessBottom: 3;
   borderThicknessRight: 3;
   headerHeight: 19;
}

.boutonClose
{
 	up-skin: Embed("Images/RecycleBin Empty-32.png");
	over-skin: Embed("Images/RecycleBin Empty-32.png");
	skin:Embed("Images/RecycleBin Empty-32.png");
}