/* CSS file */
BarreMenu
{ 
	font-size:12;
}

BarreOutil
{
	font-size:12;
}

HboxBarreOutil
{
	border-style:inset;
   	background-color:#C3C3C3;
	
}

Onglet
{
	background-color:white;
	background-alpha:0;
	background-attachment:true;
}

.hBoxCentrale
{
	padding-bottom:10;
	padding-left:10;
	padding-right:10;
	padding-top:80;
}

.imageGlobale
{
	down-skin:Embed("/home/audrey/workspace2/memory/Images/animaux/png/cartes.png");
}

TextArea
{
	 horizontalScrollPolicy:auto;
	 verticalScrollPolicy:auto;
}